[2017-07-09 15:21] alonronin opened #1 "should return mongoose doc with `save`|`create` operations"

[2017-07-09 21:01] #1 closed

[2017-07-11 20:00] alonronin opened #2 "Every mock returned should be a model instance"

[2017-07-11 20:32] #2 closed

[2017-07-11 20:42] alonronin opened #3 "update should return mocked object directly"
`Model#update` returns mongodb raw object and not a mongoose Model instance, so we should return the mocked object directly which will give us great flexibility in our tests.

[2017-07-11 20:48] #3 closed

[2017-07-11 21:02] alonronin opened #4 "adding multiple operations is run over last operation"
[code]

[2017-07-11 21:12] #4 closed

[2017-07-20 17:30] alonronin opened #5 "array returns incorrectly"
[code]

returns:
[code]

this is because i don't check if the mock is array.

[2017-08-02 18:40] BenjaminPrice opened #6 "Support Node 4.x"
Please add support for node 4.x.

This package is exactly what I need but we have yet to upgrade from node 4.x as it's still not fully out of LTS - and still in maintenance.

From what I can see in the code, it would involve moving away from ES6 proxies and using object.observe instead.

[2017-08-04 23:10] alonronin commented on #6
first of all, thanx for your interest in this project, this is indeed something i was also missing when wanted to test my mongoose code.

you can easily use it with node 4 with babel. there is a babel plugin for using Proxies now:
https://www.npmjs.com/package/babel-plugin-proxy

you should transpile it thru babel and that's it 😄

I won't move away from es201x Proxy as I think it's great addition

[2017-08-04 23:10] #6 closed

[2017-08-25 06:26] noamokman opened #7 "empty response"
Hey,
Can we add an option for an empty response?
mockingoose.User.toReturn(null, 'findOne');

[code]
Because of the ` new Model(mock);` [here](https://github.com/alonronin/mockingoose/blob/master/src/index.js#L27)

Let me know what you think,
Thanks!

[2017-09-03 19:28] alonronin commented on #7
What is the motivation? if you have data, then it will most likely comeback as a Mongoose Model.

[2017-09-08 20:25] datajohnny opened #8 "Pre, Post hooks"
Hi, do you have any information about how to implement the pre and post functionality on models?

[2017-09-09 12:49] noamokman commented on #7
I want to test an empty response from the find() query.
If no documents were found.

[2017-09-11 13:09] alonronin commented on #8
can you attach an example project?

[2017-09-11 14:42] datajohnny commented on #8
@alonronin  https://gist.github.com/datajohnny/20d30be5bffbc2b5f3feb03342106814

[2017-09-28 11:53] #7 closed

[2017-10-02 20:29] ghostnumber7 opened #10 "allow toReturn(null)"
It is necessary to test for scenarios where no data is found. Right not it's returning an object with schema default data

[2017-10-02 20:30] ghostnumber7 commented on #10
sorry ... just realized it's already been implemented

[2017-10-02 20:30] #10 closed

[2017-11-15 10:38] ArtworkAD opened #12 "_id in mock object appears/disappears 🙉"
Simple test:

[code]

Fails:

[code]
Where is the _id coming from? It is not defined in mockCategory. When I add an _id to mockCategory like

    let mockCategory = {
        _id: 'X',
        name: 'Cookies 🍪',
        description: 'Give you power to code'
    };

I get

[code]

The _id was magically removed. Any idea why this happens?

[2017-11-17 15:48] omanizer opened #13 "`isNew` property is always true"
First off, thanks for writing this fantastic library.  It makes mocking much easier.

I've noticed that model.isNew always returns true.  Most of the time when running a find query I would expect this to not be the case.

Would this be worth implementing?  Would it make sense to be default unless an override is specified?

Such as:
[code]

[2017-11-23 22:27] alonronin commented on #13
Hi,

Thank you very much for using it, it sure made my life easier 😄

IMO the `isNew` property is not relevant in mocking and i'm creating a mongoose Document from the mock data, so the `isNew` is always true.

If you really need that, submit a PR, I would be happy to review it.

[2017-11-23 22:33] alonronin commented on #12
yes, then `_id` is always an ObjectId and it is generated by mongoose if none is supplied by you :smile:
so if you need an exact match for all properties use an ObjectId in your _id field.

also don't forget you have an mongoose object in your resolve so you need to transform it to plain object with `toObject` method.

[2017-11-23 22:33] #12 closed

[2017-11-23 22:33] #13 closed

[2017-12-13 00:55] kevinfez opened #14 ".count"
I didn't see anything specifying how a ```count``` operation is supposed to work so I'm assuming you would simply call ```mockingoose.XXX.toReturn(1, "count")```, but I get the following error:

[code]

is the ```count``` operation functional right now? I don't see any obvious tests being performed on it.

[2017-12-14 16:21] niktekusho opened #15 "mockingoose.resetAll() not a function"
Hi, maybe I'm doing something wrong but I get this error using this simple config:

Versions:
`"mockingoose": "^2.4.0"`
`"jest": "^21.2.1"`
[code]
[code]

TemperatureModel.js
[code]

TemperatureModel.test.js
[code]

full stacktrace:
[code]

[2017-12-14 20:44] kevinfez commented on #15
you're not [requiring the package properly](https://github.com/alonronin/mockingoose#import-the-library)

[code]

[2017-12-15 08:30] niktekusho commented on #15
I feel really dumb right now... :frowning: Thank you!

[2017-12-15 08:30] #15 closed

[2018-01-08 14:07] mikeyGlitz opened #16 "[Question]: How do you test instance methods"
I have a schema for users:

[code]
This schema has a method `comparePasswords` which compares a password against a bcrypt hash.
[code]

How do I test code which depends on the instance method?
How would I stub out this instance method to return an expected value?
Would that look like?
[code]

[2018-01-09 13:39] mikeyGlitz opened #17 "Mock doesn't seem to be working on code that uses models"
I have 3 files: my test file, my model, and a wrapper which uses the model to create entries in the database. I've structured the code in a way that the test calls functions from the wrapper code which uses the model directly. When I investigated why my tests were failing, I noticed it was because I was missing fields that should have been returned with my mocks. What I was getting back from the m

[2018-01-09 13:50] mikeyGlitz opened #18 "Having problems with errors not being thrown"
I have 3 files: my test file, my model, and a wrapper which uses the model to create entries in the database. I've structured the code in a way that the test calls functions from the wrapper code which uses the model directly. I have code which uses validation and want to test if the handler works correctly when validation fails. Instead of an error like I'm expecting, test is passing. Upon invest

[2018-01-09 18:23] alonronin commented on #18
did you try with `new Error()` to see what you get?

is seems you got more under the hood happening there. i'd appreciate a working example so I can try it also.

[2018-01-09 18:25] alonronin commented on #16
your instance functions would work as expected. just assert the returned data or error if you have one.

[2018-01-09 18:25] #16 closed

[2018-01-09 18:26] alonronin commented on #17
see #18

[2018-01-09 18:26] #17 closed

[2018-01-09 18:50] #14 closed

[2018-01-12 00:38] mikeyGlitz commented on #18
I created a test project with the code which was causing problems.
https://github.com/mikeyGlitz/user-account-service

[2018-01-19 14:19] alonronin commented on #18
v2.6.0 fixes this issue, please upgrade.

[2018-01-19 14:19] #18 closed

[2018-01-19 20:18] mikeyGlitz commented on #18
Confirmed: new version fixed the problem.

[2018-01-21 15:59] b1f6c1c4 opened #19 "Support for Mongoose 5.x"
Since `mongoose^4.13.9` is in `peerDependencies` AND `dependencies`, when I run `yarn`, `mongoose^5.0.1` will be installed at `node_modules/mongoose` while `mongoose^4.13.9` will be install at `node_modules/mockingoose/node_modules/mongoose`.
Then `mockingoose` mocks the wrong `mongoose`, and everything messed up.

My suggestion is to remove `mongoose^4.13.9` from `dependencies` and change `mongoo

[2018-01-22 09:25] yonatanhg opened #20 "mock createConnection"
mockingoose currently not mocking the createConnection method of mongoose

[2018-01-22 09:28] #20 closed

[2018-01-22 12:17] yonatanhg opened #21 "support lean"
query with lean should return object instead of mongoose doc

[2018-01-22 14:00] #21 closed

[2018-01-22 14:21] b1f6c1c4 commented on #19
[https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md](https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md) may be helpful.

[2018-01-24 21:48] igrek2000 opened #22 "support for aggregate"
it would be nice to have a mock for aggregate or some workaround

[2018-01-25 21:15] igrek2000 commented on #22
Using as workaround:
`            const fn = function exec() {
                return [{_id: '1', numberOfManagers: 2, numberOfContributors: 3 }];
            }
            MyModel.aggregate = jest.fn(() => { return { exec: fn }});`

[2018-01-27 15:40] calvintychan opened #23 "Need some clarification"
Hi @alonronin,

Mockingoose looks great! Thanks for creating this project.

I am having trouble using Mockingoose + Jest in my project, but I am sure its due to my lack of knowledge and I am hoping you can provide some clarification.

I am trying to test a wrapper function but I keep getting a timeout in jest.

[code]

[code]

[code]

I am expecting the test to pass but receiving a timeout instead

[2018-01-29 22:01] igrek2000 commented on #23
Try

`const createUser = async (user) => {
  const doc = new User(user);
  return await doc.save();
}`

[2018-01-31 15:44] radTuti commented on #23
i have the same problem too and i find that using mockingoose@2.4.0 works fine but newer releases result in the timeout

[2018-02-04 16:12] KevinRLeC commented on #23
I've been having a similar issue when using the `remove` instance method. For example:

[code]

seems like the `remove` method is not overwritten from within this package like `save` is. I've put a PR here to address this #24

[2018-02-07 13:10] alonronin commented on #19
this is in the roadmap.

[2018-02-07 13:11] alonronin commented on #22
I would appreciate a PR

[2018-02-07 17:20] calvintychan commented on #23
Interestingly, if I copy mongoose source code and import it directly, everything is working as expected.  Importing the lib from node_module results in timeout.

[2018-02-08 00:27] alonronin commented on #23
@calvintychan can you share with me a sample project so I can test it?

[2018-02-14 00:00] kevinfez opened #25 "access to jest.fn()'s [enhancement]"
It would be nice if the mocked jest.fn()'s were easily available so that toHaveBeenCalledWith() can used.

For example, when testing a getXXX function, I don't really need to test that the value I just mocked is being returned as much as I need to make sure that the findOne function was actually called on the model with the proper parameters.

In a couple contrived jest tests, I'd see this working

[2018-02-23 21:45] alonronin commented on #25
Actually you have it directly on mongoose instance. Currently all operation on `Query` are `jest.fn` and the `exec` also. I need also to make the `save` a `jest.fn` (I don't know why I didn't 😄).

Thanks to your Issue I've added a TODO to the README.

[2018-02-23 21:45] #25 closed

[2018-02-24 00:07] kevinfez commented on #25
ah I see; I guess in case other people find their way here, this seems to be a valid way of doing it:
[code]
fyi, if you forget the second parameter then you'll get a blank failure message, pays to remember that while the second parameter to ```findOne``` is optional, jest's ```expect``` doesn't care and expects you to declare that it will be ```undefined```.

But the real gotcha in this is that t

[2018-02-24 18:12] alonronin commented on #25
@kevinfez btw, mongoose always runs the `exec` method so you can check it in your assertion.

Also you can use `jest.clearAllMocks()` in the beforeEach function.

[2018-02-24 18:23] kevinfez commented on #25
@alonronin oh cool, ```jest.clearAllMocks()``` definitely will help reduce mistakes.

I checked ```MyDocument.Query.prototype.exec.mock.calls``` and all I get is ```[ [] ]```.
So that's useful for ```expect(MyDocument.Query.prototype.exec).toHaveBeenCalled();``` but unless I'm doing something wrong I don't think it'll allow me to check the query being executed

[2018-03-01 09:37] alonronin commented on #19
will happen on the next major version, stay tuned.

[2018-03-01 09:37] #19 closed

[2018-03-13 17:38] #23 closed

[2018-03-15 11:03] pradel opened #27 "How to access save document params?"
Hey, first of thanks for this library, it is really helpful!

I wanted to know if there is a way to access the params passed down to a new document.
For example:
[code]

[2018-03-15 12:01] alonronin commented on #27
yes, all the prototypes on the Model are mocked:
https://github.com/alonronin/mockingoose/issues/25

[2018-03-15 12:01] #27 closed

[2018-03-15 12:05] pradel commented on #27
Thanks for the quick response, I saw that but the problem is the save method is attached to a new object so how can I test the constructor params?

[2018-04-25 13:13] pradel commented on #27
@alonronin can we reopen the issue since it is not resolved?

[2018-05-20 20:26] bytefluxio opened #30 "Update not changing the object"
I have a question regarding the readme.
There you stated that it is intended, that update does not change anything.

But shouldn't that actually change the name to changed? How else can we accurately test what the code is doing?

I might be missing something here :(

[2018-05-21 10:10] bytefluxio opened #31 "Cannot read property 'toReturn' of undefined"
I can't seem to delete this. Figured it out :)

[2018-05-21 13:35] bytefluxio opened #32 "[Question] Check what object has been saved / created"
Disclaimer: Im somewhat new to javascript, completely new to jest. My question might be stupid - or not - I wouldn't know 😅

How would you go about testing what object has been created / saved?

I have a route controller for creating a new object:

[code]

And these are my tests so far:
[code]
(express is mocked)

Now I do not only want to check whether the response contains the correct content, b

[2018-05-22 07:58] alonronin commented on #31
If you mind to share, it would be great.

[2018-05-22 08:05] #22 closed

[2018-05-22 11:14] #31 closed

[2018-05-22 11:16] alonronin commented on #30
no, it's a mock, no db is involved you are the who decide what is coming back from the mock using:

[code]

[2018-05-22 11:16] #30 closed

[2018-05-22 17:44] alonronin commented on #8
We need to run Hooks manually at the mock.

This are supported Hooks:
http://mongoosejs.com/docs/middleware.html

Hooks mechanism is build using Kareem:
https://github.com/vkarpov15/kareem

Need to dig a bit more.

[2018-06-04 14:42] artjomzab opened #34 "TypeError: mongoose.model is not a function"
[code]
category.schema.ts:

[code]

In the test:

[code]

When I run the test I get

`TypeError: mongoose.model is not a function`

Any ideas why I get the error?

[2018-06-06 19:22] alonronin commented on #34
Try without destructuring Schema:

[code]

[2018-06-19 07:47] artjomzab commented on #34
@alonronin thanks for the hint, however it makes no difference, still get the error. I think it is related to the mongoose version. For mongoose v4 it used to work.

[2018-06-26 20:44] alonronin commented on #34
@artjomzab can you clone this repo and run:
[code]
are the tests passes at your end?

[2018-06-29 00:23] blbradley opened #35 "throw error when model name does not exist"
Hello!

Orgs in an export name, and Organization is the name of the mongoose model.

[code]

throws this error:
[code]

This is the correct test:
[code]

Can we get a better error message?

Thanks!

[2018-06-29 13:29] blbradley commented on #35
Something like `Mongoose model Orgs does not exist'.

[2018-07-03 17:40] artjomzab commented on #34
@alonronin sorry took me a while 😄 https://github.com/artjomzab/mockingoose-test just pull the repo and run `npm test`. The test is located here: https://github.com/artjomzab/mockingoose-test/tree/master/src/modules/cookie/repository

[2018-07-07 19:58] alonronin commented on #35
Go for it and submit a PR 😄

[2018-07-23 21:56] rodrigoreis22 opened #36 "Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout"
I just copied the example code to my project and it's giving me this error:

`Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.`

user.js:
[code]

My test:
[code]

[2018-07-27 09:01] Busata opened #37 "Query methods ignored"
Seems that query methods such as .sort() or .limit() are ignored when using this?

[2018-07-28 17:32] alonronin commented on #37
what do you mean? You know it's a mock, you don't expect to sort or limit the mocked response.

[2018-08-03 20:13] omanizer commented on #8
FWIW, pre/post hooks seem to be working for me on mockingoose@2.10.1 and mongoose@4.13.9.  They only stopped working for me after I upgraded to mongoose@5.

[2018-08-18 17:32] #37 closed

[2018-09-19 08:45] refextu opened #38 "Is there a way to mock populate for mongoose?"
Schema:

[code]

Test:

[code]

[2018-10-05 17:13] wootwoot1234 opened #39 "How do you use distinct?"
I tried this but I get an error

        mockingoose.Account.toReturn(
            ["593cebebebe11c1b06efff0372","593cebebebe11c1b06efff0373"],
            "distinct"
        );

Error:

    ObjectParameterError: Parameter "obj" to Document() must be an object, got 593cebebebe11c1b06efff0372

So then I try passing it an array of document objects but it just returns the documents.  How di I get it

[2018-10-16 22:15] sepulvedablanco opened #41 "Add support for `countDocuments` function"
I'm trying to mock the mongoose `countDocuments` function as follows:

[code]

When attempting to call the function I get this error:

Could you please add support to the `countDocuments` function?

[2018-10-18 17:53] onhernandes commented on #38
Any news here @refextu ?

I'm having the same problem, I've `.populate` and this transforms an `ObjectId` prop into an array, but my Schema changes everything.

[2018-10-18 17:58] refextu commented on #38
I don't see any action on this issue

[2018-10-18 18:01] onhernandes commented on #38
I mean, you did any workaround with this?

[2018-11-14 16:22] kschiffer commented on #27
I would also really like this functionality.
Also, thanks for making this great library!

[2018-11-19 18:50] alonronin commented on #38
it is not suppose to populate as it is just a mock, so if you use populate, mock the complete result.

[2018-11-19 18:50] #38 closed

[2018-11-19 18:51] #41 closed

[2018-11-21 10:11] refextu commented on #38
The issue was not to try to populate.
@alonronin: the fact is: that there is no way to mock the complete result. When I try to mock the response (see above) the result is:
[code]
Even when i try to return `_doc2` I'll have the problem, that I don't get `foo`:
[code]

[2018-11-29 19:46] Sytten opened #44 "Use with jest toHaveBeenCalledWith?"
Hello!
I was wondering if it was possible to get the calls and verify the arguments?
This can be important for some tests to check if the database query was correct.
Thanks!

[2018-12-04 02:17] alonronin commented on #44
Check #25.

I'd appreciate pull request in the Readme :smile:

[2018-12-04 02:17] #44 closed

[2018-12-04 02:19] alonronin commented on #39
I personally don't think you should care about that, you should plan you mock in advance to return desired output.

Mocks should be dumb.

[2018-12-04 02:19] #39 closed

[2018-12-04 02:20] alonronin commented on #36
I'm closing it as I didn't encounter anything like that. Please provide a working example repo with your issue.

[2018-12-04 02:20] #36 closed

[2018-12-04 02:21] #34 closed

[2018-12-25 12:55] alonronin commented on #8
see https://github.com/alonronin/mockingoose/releases/tag/v2.12.0

[2018-12-25 12:55] #8 closed

[2018-12-25 13:05] alonronin commented on #35
I thought about it and I'm not sure I want to check if the module name exists or not, as I want to enable you to write your mocks even if you didn't create your models first.

@blbradley I'd like to hear what you think.

[2019-01-10 04:21] davidnghk01 opened #47 "Suggestion: Expose mocked jest function"
Case:
I want to known what parameter passed to mongoose function (E.X. find, countDocuments...etc.)

Example code:
query.js
[code]

My Test
[code]

Although this work but this one is undocumented way.

May be direct expose jest fn or add it to README.md ?

[2019-01-28 23:21] alonronin commented on #47
@davidnghk01 I'd appreciate a PR 👍

[2019-01-30 22:24] jhonny111s commented on #31
in my case this error raises when i do not use "default" in my require "const mockingoose = require('mockingoose').default;", then could you explain me why i have to use default?

[2019-02-15 02:03] stieg commented on #47
Sounds like a good idea in principle.  Wonder what it would take to insert jest mock functions as a sort of interceptor between the various operations.  @alonronin have you played with this at all?  Know the feasibility of this or have any pointers about on this?

[2019-02-15 02:43] stieg commented on #47
I would like this as well as it would really help with tests.  Should be doable with the use of [mockClear](https://jestjs.io/docs/en/mock-function-api.html#mockfnmockclear) and some additions to the already existing code.  Let's see where this rabbit goes

[2019-02-15 21:21] stieg commented on #47
So... interesting issue comes from this.  Because mockingoose overwrites the Query operation prototype function sthe same jest mock function exists for _every_ Query operation across every model.  What this effectively means is that if I expose access to this, it will work for testing one model at a time.  But if you use more than one at a time there is a potential for conflict.  I guess the quest

[2019-02-16 16:30] lonix1 commented on #30
I was also confused until I found this post. Maybe we should think of another example... :)

Thanks for mockingoose BTW, it's awesome!

[2019-02-26 10:37] gavinhenderson opened #48 "Mocking a populated result"
This issue is the as #38.

It was said:

However, when I mock the populated result it returns a version without the field that is wanting to be 'populated'.

Example:
[code]

[2019-03-08 13:16] dovrosenberg commented on #35
For what it's worth, I spent half a day trying to figure out why my mock find wasn't returning anything, only to determine I'd done this same thing.  Perhaps a warning would help and still let you write the mocks before creating the models.

[2019-03-08 18:51] stieg commented on #47
Hey @alonronin I have posted https://github.com/alonronin/mockingoose/pull/49.  Have  a look when you have time. Cheers.

[2019-03-20 13:34] andreialecu commented on #47
Found myself looking for this as well. Wouldn't a simpler and more powerful implementation simply allow passing a function instead of an object?

So OPs test more or less becomes:

[code]

I think this would be a much simpler change to implement than #49.

[2019-03-20 15:44] andreialecu commented on #47
Opened #50.

[2019-03-20 17:59] stieg commented on #47
@andreialecu If I have read and understood the code correctly you are effectively implementing a poor man's mock function with the following code:
[code]
Unfortunately your code is restricted in its current form relative to full mock functions.  What happens if two calls to `queryUserByName` happen?  In the code you gave above the `callParams` value would only contain the parameters of the second

[2019-03-20 18:05] andreialecu commented on #47
The approach is much more powerful because you can inspect the full mongoose Query object.

You can still pass in a custom `jest.fn().mockImplementation(() => someResult)` which you can then inspect via jest in any way you want.

[2019-03-20 18:06] andreialecu commented on #47
The approach in PR #50 allows things like this:

[code]

[2019-03-20 18:19] stieg commented on #47
I'm not saying that #50 isn't useful.  It most certainly is useful given the examples you have provided and should be considered for inclusion.  I am only saying that it does not resolve _this_ issue completely.  Put differently, your solution is not a feature complete replacement of a mock functions, hence why I believe it is not a full solution to this issue.

[2019-03-20 18:24] andreialecu commented on #47
To reiterate. You're free to use any mocking framework you want with #50 and pass in your mocked function with much more control than any other approach:

https://jestjs.io/docs/en/mock-functions

[code]

[2019-03-20 18:45] andreialecu commented on #47
One thing to keep in mind is that the approach in top level post is wrong in a way, which #50 addresses correctly.

You can have a query like:
`queryUserByName = (name) => user.find().where('name').equals(name);`

In this case the mocked `find()` call will not have the right parameters of the query, so the OP's code to check for them via mocks won't work. The conditions will be undefined, as the `

[2019-03-20 19:42] stieg commented on #47
Very valid point here @andreialecu.

[2019-03-29 14:57] alonronin commented on #47
You raised some great points, maybe we can make mockingoose even simpler, inferring the OP from from the query itself.

Also currently mockgoose is focusing on jest, but I thought about making it agnostic.

I would like to hear your thoughts on a roadmap for version 3, also if any of you would like to join as a an official contributor, I will be glad.

[2019-03-29 15:11] #47 closed

[2019-03-29 15:16] alonronin commented on #47
well, I liked @andreialecu angle on this, and I've decided to merge it for the next version.

@stieg thanx a log for opening our minds and @andreialecu thanx for your effort guys.

We should think on make it even simpler in next major version (infer query op, passing model to mockingoose directly etc.)

[2019-03-30 16:44] andreialecu commented on #35
This should be fixed by #51.

It introduces new recommended usage:
`mockingoose(model).toReturn(...)` where `model` is the actual Mongoose model class, so you don't need magic strings any more. The name will be retrieved from the model class itself.

Passing a string is still supported, for cases such as the one mentioned by @alonronin.

[2019-03-30 17:49] andreialecu commented on #48
This indeed seems to be a problem.

Mongoose seems to sanitize the object to remove `creator` from the returned document, probably because it doesn't match the schema - so the mock won't make it through.

[2019-03-30 21:11] gavinhenderson commented on #48
Is there a way to solve this? or is it not currently a priority?

[2019-03-31 00:16] #35 closed

[2019-03-31 00:38] alonronin commented on #48
you can now use a function to mock, #50 should solve this

[2019-03-31 10:59] andreialecu commented on #48
@alonronin it doesn't though. If you try the code @gavinhenderson posted, the resulting object is indeed missing `creator`. Mongoose is doing something to remove it from the returned DocumentModel. Probably because it doesn't match the schema.

[2019-04-01 15:15] gavinhenderson commented on #48
@andreialecu You can see my schema here if that helps debug.

https://github.com/Open-Communication/DigitalCommunicationPassports/tree/master/server/schema

[2019-04-03 11:02] alonronin commented on #48
@andreialecu @gavinhenderson did you use the new function as mock feature? as I recall this method does not goes thru Model.create of mongoose.

[2019-04-03 11:19] andreialecu commented on #48
The function as mock feature works the same as the object as mock feature as far as returning goes, so it does go through `Model.create`.

See this branch for a failing test:

https://github.com/andreialecu/mockingoose/tree/populate-bug

[2019-04-03 11:24] andreialecu commented on #48
From my initial go at debugging this, it seems like we need to intercept something deeper inside mongoose in order to fix this.

Perhaps an alternative would be to add a parameter to the API like:

[code]

Which would prevent the mock from being passed through the Model constructor here: https://github.com/alonronin/mockingoose/blob/master/src/index.ts#L130 and instead just return it as it is.

[2019-04-03 11:31] andreialecu commented on #48
Also note that in the failing test above, removing `.populate('foo')` doesn't help, which confirms that Mongoose removes the property because it doesn't match the schema. So it's not safe to assume that one could put anything in the `toReturn(object)` call and expect it to come out the other way intact.

The proper way to fix this would be to ensure `.populate('foo')`, makes Mongoose call `.find`

[2019-04-03 11:34] alonronin commented on #48
Yes, we are making `new Model(item)` for each mock.

You can try to set the schema's option `strict` to false, only for the test:

[code]

[2019-04-03 12:06] andreialecu commented on #48
`strict` only seems to work with properties that are not part of the schema. Since `foo` is in the schema here, the type mismatch still makes Mongoose delete it. Changing from`foo` to `foo2` inside the test, setting `strict` to `false` and **not** renaming or adding `foo2` in the schema makes the test pass, so `foo2` is retained, but `foo` is not.

[2019-04-03 13:13] #48 closed

[2019-04-03 13:13] alonronin commented on #48
Ok, I see. you Need to change the type of the path in the schema for the test:

[code]

I added a test.

[2019-04-03 15:46] gavinhenderson commented on #48
@alonronin Sorry im not sure I follow, what do I need to change in my initial example to achieve the mocking of the populate?

My initial example:
[code]

I would like it to be:
[code]

[2019-04-03 16:22] andreialecu commented on #48
Try Passport.schema.path('creator', Object);` before the `findOne()` call.

[2019-04-16 22:12] farajist commented on #30
Doesn't `.update({ name: 'changed' })` require the document to update as the second parameter ? My test couldn't pass without it !

[2019-04-30 06:36] eitanfar opened #52 "Access update and options when using findOneAndUpdate"
Hi, thanks for a great package, it's very helpful !

I'm trying to write a test for a service using the `getByIdAndUpdate`method (which uses the `getOneAndUpdate` method), and I need to check the update object and that the options are configured in a specific way.
The problem is that I can't seem to find a reference for either. Using `query.getQuery()` I get only the `_id` field and neither the op

[2019-05-01 07:56] alonronin commented on #52
you should supply the mock to return, mockingoose does nothing but mocking mongoose.

checkout: https://github.com/alonronin/mockingoose/blob/master/___tests___/index.test.ts#L238

[2019-05-01 07:58] alonronin commented on #52
duplicate #30

[2019-05-01 07:58] #52 closed

[2019-05-01 12:39] eitanfar commented on #52
I understand that currently this is not supported, but I'm asking to add this to the existing implementation.
After all, when you mock the function you have all the info available: `(criteria, doc, options, callback)`. What I need (as well as in #30) are the `doc` and `update`.
A change to the `ReturnFunction` type would allow us to receive that needed information, something like:

[code]

Without

[2019-07-01 14:35] jole78 opened #53 "is filtering on toReturn possible?"
I know I'm probably trying to do something that this library isn't supposed to be solving but I thought I'd ask anyway, so here goes.

I have a mongoose model called Profile. A profile can have users. The problem is that some of these users should be filtered out in some circumstances so on the Profile model I have a method called getUsers which does some "magic" for finding the users.

So I wanna

[2019-07-01 16:51] andreialecu commented on #53
Take a look at: https://github.com/alonronin/mockingoose/blob/master/README.md#mockingoosemodeltoreturnfn-operation--find

You should be able to inspect the query and return only what you need for specific queries.

[2019-07-01 17:22] jole78 commented on #53
Yes that's kind of my approach right now. It feels a little bit like I know too much of the internals of the method I'm testing though. If I basically tell the implementation of getUsers what to return. I don't know...it doesn't feel right basically.
But maybe in this case I probably need something that actually touches the real api/db but in memory. I know there's another mocking Lin fir mongoose

[2019-07-03 09:27] #53 closed

[2019-08-01 12:32] eenewbsauce opened #54 "Feat: Add ability to arrange mock with a series of returns"
I am very happy this library (it has saved me a lot of time)! I was wondering if it would be possible to do something like this:

[code]

This would be tremendous!

For reference, Jest handles it like this:

[code]

I'd be happy to help as well (might need a bit of help though).

Thank you,

Ryan

[2019-10-11 10:28] hugomallet opened #55 "TypeError: Cannot read property 'Decimal128' of null"
Hello,

I have this error when i try to use mockingoose and mock a dependency using jest.mock('...')

The full stack trace :

[code]

[2019-11-03 01:53] subhashdike opened #56 "ReferenceError: jest is not defined"
I am trying to use this module, and all I have is a single line in my code

`const mockingoose = require('mockingoose').default;`

And my package json is something like this
[code]

And the error I got is talking jest is not defined. I am not sure if I needed to, but did install jest myself.

[code]

[2019-11-19 18:22] calumpeak opened #57 "mockingoose breaks when `jest.resetAllMocks()` is called in between tests"
This is a pretty common pattern to have in a jest setup file or in an `afterEach` block to call `jest.resetAllMocks` to ensure that there is no leaking/shared values between test runs.

As mockingoose sets up most of it's mocks in the global scope at import time instead of invocation time, anyone using `jest.resetAllMocks` will have their tests timeout. I believe this is also the issue with #36 .

[2019-11-20 18:02] alonronin commented on #57
good catch. PR would be awesome!

[2019-11-21 14:26] calumpeak commented on #57
@alonronin I'll see what I can do 👍

[2019-12-03 13:43] SergeyPoluektov opened #58 "Problem with invoking `this.model('ModelName')` inside model hook."
It's impossible to use `this.model('ModelName')` in a model hooks [Model.prototype.model()](https://mongoosejs.com/docs/api/model.html#model_Model-model).

For instance:
[code]

I guess it's related to this code on line 267, where an object is assigned to the `model` property.
https://github.com/alonronin/mockingoose/blob/cc160bcd8ec0a787988c24cf5c159c53b8060574/src/index.ts#L256-L269

Is it possi

[2019-12-05 13:16] gornostal commented on #52
@alonronin
I don't see how that answers the author's question.
I also can't find a method that would return me an update data:

[code]

[2020-01-18 19:10] TomaszBorczyk opened #60 "Testing calls of objects mocked with toReturn with jest"
Hi,
In testing, I have a trouble asserting that calls of model instance. An example:
[code]
[code]
I want to make sure that `updateOne` have been called. But unfortunetly I hit the wall here; I can't find a proper way to test those calls.

[2020-02-04 14:01] jwoodmansey commented on #56
Unlikely but... I had this when I was accidentally running my tests using mocha instead of jest. 🙃

[2020-04-23 17:18] maximilianocatarino commented on #55
Same for me.

[2020-04-27 05:34] alonronin commented on #56
you need to run it in Jest runner only 😄

btw, it should be a dev dependency.

[2020-04-27 05:34] #56 closed

[2020-04-27 05:39] alonronin commented on #60
AFAIK, every update method you can mock on the `update` op.

try this:

[code]

Please create a repo with an example code so I can run test only on this scenario for next time.

[2020-04-27 05:39] #60 closed

[2020-04-27 05:42] alonronin commented on #58
you are correct `this.model` is not a function.

if you can provide a PR for this, it would be great!

[2020-04-27 05:42] #58 closed

[2020-04-27 05:43] alonronin commented on #55
@maximilianocatarino can you provide an example repo reproducing this?

[2020-04-27 05:45] alonronin commented on #54
would appreciate a PR.

[2020-04-30 12:32] kndt opened #62 "Argument of type '"exec"' is not assignable to parameter of type"
My tests were running fine in .js file format but after converting my tests typescript I was recieving these errors.

[code]

[code]

[2020-05-13 22:48] broldansaztrek commented on #52
I'm also having the same problem. on my _ReturnFunction_, I want to access what's being set on my _findOneAndUpdate_ but _query.getUpdate()_ returns an _undefined_ value.

[2020-05-27 19:58] adithyakrish3 commented on #48
Hello,

Sorry for being late to the party.
What is the fix here? How to mock .populate() in the already mocked result?
Can someone please explain?

[2020-05-28 07:13] davidmeirlevy opened #63 "For Model.create() -> .lean() is not a function"
Consider this code:
`Article.create(data).lean()`

The test suggests a result:
model.toReturn(resolvedTestObj, 'save');

**Expected result**: Test should pass.

**Received result**: `TypeError: Article.create(...).lean is not a function`

[2020-06-05 05:29] alonronin commented on #63
There is no `lean` method on `Model.create` return result. It already returns lean data in mongoose.

It is not a mockingoose issue.

BTW, mockingoose mocks all methods automatically view the `Query` object of mongoose, even on `Model` methods.

[2020-06-05 05:29] #63 closed

[2020-06-28 23:23] alonronin commented on #62
you cannot mock `exec`, you need to mock your query and it can be either of the above.

see more at https://github.com/alonronin/mockingoose#operations-available

[2020-06-28 23:23] #62 closed

[2020-06-28 23:26] alonronin commented on #55
i'm closing this issue, please provide an example repo with this use case isolated.

[2020-06-28 23:26] #55 closed

[2020-09-09 21:36] FellipeMaia commented on #48
This structure worked for me
@adithyakrish3

const doc = {
  email: 'test@mail.com',
  name: 'Name',
  saveCount: 1,
  **foreignKeys**:[]
};

 const  foreignKey = {
    _id: '5ca4af76384306089c1c30ba',
    name: 'test',
    value: 'test'
  }

doc.foreignKey.push(foreignKey)

mockingoose(User).toReturn("findOne",doc);

User.schema.path(**'foreignKey',** Object);
const result = await User.findOne({}

[2020-09-10 17:00] sandorvasas opened #65 "Doesn't work with ts-jest"
I'm getting `TypeError: Cannot set property _id of [object Object] which has only a getter`
With the following simple test:
[code]

[2020-09-10 22:53] stieg commented on #65
@sandorvasas It would probably help if you included what `getTeams` returns as well as what `TeamModel` schema looks like .  There is no way for us to help you otherwise.  I know we have mockingoose working with ts-jest internally so it is possible.  Based on the error message I would say your issue appears to come from the output of `getTeams` function.

[2020-10-16 23:26] AntLer-24rus opened #66 "Wrong behavior 'deleteOne'"
When an object in toReturn function equal {n: 1, ok: 1, deletedCount: 1} mockingoose created object from default  model.
[code]
Tell me if you can somehow get around this and how to test deleteOne function authentic to mongoose. Thanks!

[2020-11-19 01:43] maqduni commented on #52
@eitanfar I see you closed the issue. Is it because you haven't gotten this answered or because you found a solution? I'm also looking for a way to test the update object that's being passed to the Mongo client.

[2020-11-19 04:01] maqduni commented on #52
@alonronin I see you closed the issue, but I still can't find a way to test the update object. I have this statement and would like to test whether the correct update object is being passed to `findOneAndUpdate`:
[code]

I need to test the address value that's being passed in `$set`. How can I do it?

[2020-11-19 15:15] alonronin commented on #52
check out https://github.com/alonronin/mockingoose/issues/25

[2020-11-20 17:58] maqduni commented on #52
Sounds good, I used `const findOneAndUpdateSpy = jest.spyOn(PropertyModel, 'findOneAndUpdate');`

[2020-12-25 15:47] maqduni opened #67 "Mocking Model.insertMany()"
I have the following expression:

[code]

I can mock Jest's spies, but it's bulky and I'd like to stick to the normal mocking style. How can I mock `insertMany()`?

[2020-12-29 17:37] LuisOsta opened #68 "Migrate To Official Mongoose Types"
Due to the breaking change in the new types of Mongoose: https://github.com/Automattic/mongoose/issues/9606.
I'm not able to use this library with the new version of mongoose.

These are the errors I'm getting

[code]

Would it be possible to migrate over to the new types?

[2020-12-29 18:11] LuisOsta commented on #68
So I tried making a quick PR to do the upgrade but I think there was a big change in the way they are handling queries and documents. So it won't be a a trivial upgrade

[2020-12-30 17:40] alonronin commented on #68
thanx, i'll try to check it out.

[2021-02-04 08:45] aj-anuragjain opened #69 "UserModel.exists method not exist"
Hi Team, I did not see the UserModel.exists a method to be mocked?
Can you confirm?

[2021-03-18 23:21] alonronin commented on #69
nope. I'll add it :)

[2021-03-18 23:47] alonronin commented on #69
`Model.exists()` create the `findOne` ops. so to mock it you can:

[code]

[2021-03-18 23:47] #69 closed

[2021-03-19 00:08] alonronin commented on #68
I removed TypeScript completely from this lib and now everything works perfectly and supports latest mongoose version.

[2021-03-19 00:08] #68 closed

[2021-03-19 00:17] #66 closed

[2021-03-19 01:51] #67 closed

[2021-03-19 01:52] #57 closed

[2021-03-19 01:52] #54 closed

[2021-03-19 01:53] #65 closed

[2021-03-22 20:16] feRpicoral opened #70 "Typescript type definitions"
Giving that mockingoose is not using typescript since e48c08be98d827cdbb86086c12890ace110fab8e, it would be nice to have a `d.ts` file as it used to have to offer a better user experience.

[2021-03-25 01:14] alonronin commented on #70
yep, i'm planning to do it. i'd appreciate a PR on it 😄

[2021-03-25 01:21] feRpicoral commented on #70
If I have some time left I will have a look at it and see what I can do!

[2021-06-27 20:04] tjarbo commented on #70
+1

[2021-08-10 08:22] OrrLumigo opened #74 "mockingoose(User).toReturn(new Error('My Error'), 'create'); doesnt throw error"
mockingoose(model).toReturn(new Error('My Error'), 'save');

return model.create({ name: 'name', email: 'name@email.com' }).catch(err => {
  expect(err.message).toBe('My Error');
});

this doesn't throw an exception

[2021-08-24 19:40] alonronin commented on #74
please supply some a test repo with replication of this case.

[2021-10-05 15:25] technowar opened #77 "Getting MongooseError: Operation `todos.insertOne()` buffering timed out after 10000ms error message"
This is the test,
[code]

The code I am trying to test,
[code]

[2021-10-07 09:56] Parnswir commented on #77
I am getting the same error after upgrading to `mongoose@^6.0.0`. On 5.x your test should work.

[2021-10-07 10:12] Parnswir commented on #77
Another workaround I just discovered is manually mocking `create`, assuming you use jest:

[code]

[2021-10-26 13:33] dcefram opened #78 "Allow verifying values passed to "update" methods"
### Background

I had some endpoints that I would want to verify that the value being passed to mongodb is the _correct_ value. Although there is a workaround right now by abstracting the logic that processes the data into a separate testable function, there are still some cases that it's a tricky plumbing work to do, and it would be easier if we can just verify that the data being passed to mongo

[2021-11-15 22:22] OliverFischer commented on #77
Hi all,

starting from 6.x the authors of mongoose decided to shadow the original `save` function with
`Model.prototype.$save = Model.prototype.save;`, so that mocking `save` does not work anymore.
Modifying the index.js code to include `$save` for the ops enumeration
[code]
 and extending
[code]
let all tests passes with 5.x and 6.x. May be @Parnswir you may change the code to make it work with b

[2021-11-16 10:29] fmigowski opened #80 "Query.prototype.orFail() not supported?"
# Problem description
I'm trying to cover a scenario when `findOne` should fail and trigger `orFail`.
It works fine when I mock the result (when it finds by the property I'm passing). But it throws an exception when I try to simulate the `orFail` case.

* Reference: [Mongoose docs: orFail](https://mongoosejs.com/docs/api.html#query_Query-orFail)

# Failing Scenario

Below you can see two scenarios

[2021-11-19 12:54] danieloprado commented on #70
Pull Request: #81

[2021-11-19 13:11] #78 closed

[2021-11-19 13:13] alonronin commented on #80
See if you can add support for it, would be much appriciated.

[2021-11-19 13:13] #74 closed

[2021-11-19 13:13] #70 closed

[2021-11-19 21:29] danieloprado commented on #77
I've just made a PR #83 with @OliverFischer changes.

[2021-11-25 21:30] OliverFischer commented on #77
Hi @danieloprado : One thing I missed in my description was the adjustment of the `index.test.js `file. When working with mongoose 6,
- should create returns mock
- should return error
needs to be adjusted too and become:
[code]
Sorry for that. By the way, imho backward compatibility is lost by simple replacement. May be a simple arrow fn or something like this (if the authors from mongoose decide

[2022-02-10 21:42] lazizcodes opened #85 "TypeError: (0 , mockingoose_1.default) is not a function"
In my TS project I am using mockingoose@2.15.2 as follows:
[code]
I cannot understand why `mockingoose(MyModel)` throws `TypeError: (0 , mockingoose_1.default) is not a function` error.
Looks like this is a bug, or am I missing something?

[2022-02-11 18:22] joh-klein opened #86 "Bump version to add typings"
Hi, thanks for all your work!

I would love if you could release a new version that adds the typings from #81

Since @typings/mockingoose also tells us, that

Thank you!

[2022-02-11 18:58] joh-klein opened #87 "Return different results for the same model"
I know, this might be a long shot, but maybe it is possible.

Right now, I am doing this:

[code]

The idea is to have to different results for the same model since I have two different aggregations that can't be merged together.

Is/Would/Could this be possible with mockingoose?

[2022-02-14 04:57] yurtaev commented on #87
You can use a function as a parameter like this:

[code]

[2022-02-14 20:57] Rchitects commented on #85
This doesnt work for me. Im using
`const mockingoose = require("mockingoose");`
To make it Work but with that i loose the types...

[2022-02-15 20:09] #87 closed

[2022-02-22 05:43] vigneshsdev opened #88 "Mock MongoDB Connection"
How to mock mongoDB connection using Mockingoose.
For my below scenario how to avoid real DB connection?

db.config.js
[code]

handler.js
[code]

__tests__/user.test.js
[code]

  in this above example how to mock connectToDatabase()

[2022-02-22 05:50] yurtaev commented on #88
Just mock:

[code]

[2022-02-22 07:10] vigneshsdev commented on #88
you mean in `tests/user.test.js` this file?

[2022-02-24 17:30] jdziek opened #89 "Mockingoose with typescript"
Hi.
As in the title im trying to implement mockingoose with typescript however i keep getting error "TypeError: Cannot read properties of null (reading 'Decimal128')". Already jumped through some hoops but cant figure out that one. My code

model

[code]
controller
[code]

// test.ts file
[code]
We are using ajv schema validation instead of regular mongoose schema and it shouldnt affect it, but th

[2022-03-14 22:22] bagelbits commented on #86
I assume the current blocker is that the CI is currently failing.

[2022-03-16 08:07] cristian-moreno-ruiz opened #90 "Spy on insertMany calls"
I want to spy on a call to insertMany, but I can't seem to find the proper way to do it. I currently do something similar for find and it seems to work fine. This is how my test looks like:

[code]

I can manage to access the conditions of the find queries like this `findSpy.mock.calls[0][0]._conditions`.

However, I've not been able to check through the documents to be inserted using the `insertM

[2022-03-28 21:06] lbruno69 commented on #77
Any updates?

[2022-06-03 22:32] moritz157 commented on #85
I have tried out adding `"esModuleInterop": true` (mentioned [on StackOverflow](https://stackoverflow.com/questions/61524130/typescript-babel-import-causing-1-default-is-not-a-function)) but it doesn't work either. Losing types by using `require("...")` is not really an option in my opinion.

[2022-08-04 15:04] Davies-Owen opened #92 "Cut NPM release"
https://www.npmjs.com/package/mockingoose has not been updated since March 21, 2021. There are several good changes that have been made since then, specifically https://github.com/alonronin/mockingoose/pull/79.

Could you cut a release to NPM with these changes?

[2022-08-08 15:16] ugurberkecan commented on #89
Could you share working example ?

[2022-09-25 19:24] Dlas1212 opened #93 "FindById returns undefined"
I created a mock for my `Item` and when I try to mock `findById` it will always return undefined.
 Otherwise if I set 2nd parameter as `findOne` it will return correctly.

**Not working Test:**
[code]
Service file:
[code]

---
Working Test:

[code]
Service file:
[code]

[2022-09-25 20:08] #93 closed